server {
    listen 80;
    server_name backend.local;

  # Redirect all traffic to the web server on port 4000
  location /ws {
    rewrite ^/ws(/.*)$ /$1 last;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }

  location /api {
    rewrite ^/api(/.*)$ $1 break;
    include /etc/nginx/conf.d/api-proxy.conf;

    {% if red_env == 'alpha' %}
    proxy_pass http://backend-alpha:4000; #red
    {% else %}
    proxy_pass http://backend-omega:4000; #red
    {% endif %}
  }

  {% if enable_test_route == 'true' %}
  location /api/test {
    # Remove the /test prefix from the URL
    rewrite ^/api/test(/.*)$ $1 break;
    include /etc/nginx/conf.d/api-proxy.conf;

    {% if red_env == 'alpha' %}
    proxy_pass http://backend-omega:4000;
    {% else %}
    proxy_pass http://backend-alpha:4000;
    {% endif %}
  }
  {% endif %}
}