server {
    listen 80;
    server_name frontend.local;

  # Redirect all traffic to the web server on port 80
  location / {
    include /etc/nginx/conf.d/api-proxy.conf;
    {% if red_env == 'alpha' %}
    proxy_pass http://frontend-alpha:8000; #red
    {% else %}
    proxy_pass http://frontend-omega:8000; #red
    {% endif %}
  }

  {% if enable_test_route == 'true' %}
  location /test {
    # Remove the /test prefix from the URL
    rewrite ^/test(/.*)$ $1 break;
    include /etc/nginx/conf.d/api-proxy.conf;

    {% if red_env == 'alpha' %}
    proxy_pass http://frontend-omega:8000;
    {% else %}
    proxy_pass http://frontend-alpha:8000;
    {% endif %}
  }
  {% endif %}
}